*.o
*.la
*.lo
*.in
*.m4
*.log
config.status
libtool
Makefile
config
configure
src/.deps/
src/.libs/
src/database/.deps
src/database/.dirstamp
src/parser/.deps
src/parser/.dirstamp
src/server/.deps
src/server/.dirstamp
src/utilities/.deps
src/utilities/.dirstamp
src/config.h
src/stamp-h1
src/Server
autom4te.cache/
ipch/
*.suo
*.sdf
*.opensdf
Debug/
